
    * {
        margin:0;
        padding:0;
        overflow-x: hidden;
    }
    
    
    .hiro_img{

        margin-top: -40px;
    }
    .background-firstsection {
        background:#ffffff;
        background-blend-mode: darken;
        background-size: cover;
    }
    
    
    
    .box-main {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        max-width: 50%;
        margin: auto;
        height: 80%;
    }
    
    .firstHalf {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    
   
    .text-big {
        font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #435d91;
    }
    
    
    
    
    .text-small {
        
        font-size: 15px;
        text-align: center;
        color: rgb(166, 166, 166);
    }
    
    
    .text-footer {
        text-align: center;
        padding: 10px 0;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        color: azure;
        justify-content: center;
    }
    
    .uppersec{
	
        width:1440px;
            height:180px;
        background-color:#333f57;
    
    }